.container {
    width: 100%;
    height: auto;
    background-color: #f4e0e0;
    display: flex;
    padding-left: 2vw;
    justify-content: space-between;
}

.left-side {
    padding-right: 10px;
    width: 50%;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h2 {
    color: black;
    font-weight: 900;
    font-size: 4vw;
    text-align: left;
    line-height: 8vh;
}

.description p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: darkgray;
    margin-top: 2vh;
}

h3,
p {
    color: black;
}

.right-side {
    width: 50%;
    height: 84vh;
}

.right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-btn .btn {

    border-radius: 25px;
    padding-right: 2vw;
    color: white;
    background: black;
    padding: 0.5vw 5vh;
    margin-top: 2vh;
}

.shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.line {
    border: 1px solid lightgrey;
    height: 10vh;
    width: 1px;
}

.stats-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-desc h3 {
    font-size: 2.5vw;
    font-weight: bold;
}

@media (max-width:500px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .left-side {
        height: auto;
        width: 100%;
    }

    .right-side img {
        width: 96%;
    }

    .right-side {
        width: 100%;
    }

    .heading h2 {
        color: black;
        font-weight: 900;
        font-size: 5vh;
        text-align: left;
        line-height: 5vh;
    }

    .description p {
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        color: darkgray;
        margin-top: -1vh;
        font-size: larger;
        padding: 0px 5px;
    }

    .shop-btn .btn {
        border-radius: 25px;
        padding-right: 2vw;
        color: white;
        background: black;
        padding: 3.5vw 10vh;
        margin-top: 1vh;
    }

    h3,
    p {
        text-align: center;
        color: black;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vh;
    }

    .stats-desc h3 {
        font-size: 5.5vw;
        font-weight: bold;
    }
}